*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F59C36;
    text-align: center;

}

a{
    color: white;
    text-decoration: none;
    height: 10em;
}

.fases{
    width: 10em;
    display: flex;
    margin-top: 23em;
    margin-left: 58em;
}

.conhecer{
    height: 10em;
    display: flex;
    margin-top: -6em;
    margin-left: 54.6em;
}

.conhecer:hover{
    height: 14em;
}